<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select
        [value]="selectedCountry"
        (ionChange)="selectCountry($event.detail.value)"
      >
        <ion-select-option
          *ngFor="let country of supportedCountries"
          [value]="country.alpha2"
        >
            {{ country.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Watch Providers</ion-label>
      <ion-select
        [value]="selectedWatchProviders"
        (ionChange)="selectWatchProviders($event.detail.value)"
        multiple="true"
        okText="Okay"
        cancelText="Dismiss"
      >
        <ion-select-option
          *ngFor="let provider of supportedWatchProviders"
          [value]="provider.id"
        >
          {{ provider.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
