<ion-header>
  <ion-toolbar>
    <ion-title>movie-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="movie$ | async as movie; else loading">
    <!-- add image placeholder-->
    <ion-img [src]="movie.backdrop"></ion-img>
    <div>
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.releaseDate | date:'YYYY' }} | {{ movie.runtime }}m | {{ movie.voteAverage | percent }}</p>
    </div>
    <div>
      <h2>Overview</h2>
      <p>{{ movie.overview }}</p>
      <div>
        <div>
          <h3>Cast</h3>
          <div class="h-scroll">
            <ion-row class="ion-nowrap">
              <ion-col class="ws-nowrap txt-small" *ngFor="let actor of cast">
                <div>
                  <ion-text>{{ actor.name }}</ion-text>
                </div>
                <div>
                  <ion-text>{{ actor.character }}</ion-text>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <h3>Director</h3>
          <div class="h-scroll">
            <ion-row class="ion-nowrap">
              <ion-col class="ws-nowrap txt-small" *ngFor="let director of directors">
                <ion-text>{{ director.name }}</ion-text>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <ion-button (click)="showMovieCredits()" expand="full">more info</ion-button>
      </div>
    </div>
    <div *ngIf="watchProviders$ | async as watchProviders">
      <h2>Watch on</h2>
        <ion-segment #watchProviderSegment class="ion-margin-bottom" value="flatrate">
          <ion-segment-button *ngIf="watchProviders.flatrate?.length" value="flatrate">
            <ion-label>Flat</ion-label>
          </ion-segment-button>
          <ion-segment-button *ngIf="watchProviders.rent?.length" value="rent">
            <ion-label>Rent</ion-label>
          </ion-segment-button>
          <ion-segment-button *ngIf="watchProviders.buy?.length" value="buy">
            <ion-label>Buy</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div class="d-flex" *ngIf="watchProviderSegment.value === 'flatrate'">
          <ion-thumbnail class="ion-margin-end" *ngFor="let provider of watchProviders.flatrate">
            <img [src]="tmdb.getImage(provider.logo_path)">
          </ion-thumbnail>
        </div>
        <div class="d-flex"  *ngIf="watchProviderSegment.value === 'rent'">
          <ion-thumbnail class="ion-margin-end" *ngFor="let provider of watchProviders.rent">
            <img [src]="tmdb.getImage(provider.logo_path)">
          </ion-thumbnail>
        </div>
        <div class="d-flex"  *ngIf="watchProviderSegment.value === 'buy'">
          <ion-thumbnail class="ion-margin-end" *ngFor="let provider of watchProviders.buy">
            <img [src]="tmdb.getImage(provider.logo_path)">
          </ion-thumbnail>
        </div>
    </div>

    <div>
      <h2>Recommended movies</h2>
      <div class="h-scroll" *ngIf="recommendedMovies$ | async as recommendedMovies; else loading">
        <ion-row class="ion-nowrap">
          <ion-col class="ws-nowrap txt-small" *ngFor="let movie of recommendedMovies.elements">
            <ion-card [href]="'movies/' + movie.id">
              <ion-img [src]="movie.poster"></ion-img>
              <ion-card-header>
                <ion-card-title>{{ movie.title }}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <ng-template #loading>
    Loading
  </ng-template>
</ion-content>
