.ws-nowrap {
  white-space: nowrap;
}

.txt-small {
  font-size: 0.8em;
}

.txt-large {
  font-size: 1.2em;
}

.txt-xlarge {
  font-size: 1.4em;
}

.txt-xxlarge {
  font-size: 1.6em;
}

.h-scroll {
  overflow-x: auto;
}

.d-flex {
  display: flex;
}
